{:tasks {build:compile {:doc  "Compile bridge"
                        :task (clojure "-T:build compile-all")}

         build:jar     {:doc  "Build JAR distribution"
                        :task (clojure "-T:build build-all")}

         build:deploy  {:doc  "Build and deploy to Clojars"
                        :task (clojure "-T:build deploy")}

         outdated      {:doc  "Check for outdated deps"
                        :task (clojure "-M:outdated")}}}
