{:tasks {build:jar {:doc  "Build JAR distribution"
                    :task (clojure "-T:build build-all")}

         outdated  {:doc  "Check for outdated deps"
                    :task (clojure "-M:outdated")}}}
