{:paths         ["src/main"]

 :deps          {org.slf4j/slf4j-api        {:mvn/version "2.0.16"}
                 org.slf4j/log4j-over-slf4j {:mvn/version "2.0.16"}
                 org.slf4j/jcl-over-slf4j   {:mvn/version "2.0.16"}
                 org.slf4j/jul-to-slf4j     {:mvn/version "2.0.16"}}

 :aliases       {:clj1.11  {:extra-paths {org.clojure/clojure {:mvn/version "1.11.4"}}}
                 :clj1.12  {:extra-paths {org.clojure/clojure {:mvn/version "1.12.0"}}}

                 :dev      {:extra-paths ["src/dev"]
                            :extra-deps  {metosin/jsonista              {:mvn/version "0.3.11"}
                                          io.github.clojure/tools.build {:git/tag "v0.10.5"
                                                                         :git/sha "2a21b7a"}
                                          slipset/deps-deploy           {:mvn/version "0.2.2"}}}

                 :build    {:paths      ["src/dev"]
                            :deps       {io.github.clojure/tools.build {:git/tag "v0.10.5"
                                                                        :git/sha "2a21b7a"}
                                         slipset/deps-deploy           {:mvn/version "0.2.2"}}
                            :ns-default build}

                 :outdated {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}
                                        org.slf4j/slf4j-nop     {:mvn/version "2.0.16"}}
                            :main-opts ["-m" "antq.core"]}}

 :deps/prep-lib {:alias  :build
                 :fn     compile-all
                 :ensure "target/classes/tukki/log/slf4j/LogServiceProvider.class"}}
